body {
  overflow-y: scroll;
  padding-bottom:30px;
}
input {
  margin-bottom:15px;
}
button {
  margin-top:5px;
}
p {
  padding:0;
}
.jumbotron {
  padding-top:20px;
  width:50%;
}
.lead {
  color:#888
}
.card {
  box-sizing: border-box;
  min-height:400px;
  width:50%;
  display:inline;
  transition: all 400ms ease;
}
.display-number {
  width:100%;
  padding:0;
}
.gray {
  background-color: #fafafa
}
.beep {
  color:#800
}
.boop {
  color:#008
}
.dave {
  color:#080
}
@media screen and (max-width: 992px) {
  .card, .jumbotron {
    width:100%;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width:100%;
  }
}
