body {
  padding-top:30px;
  background-color: #ccc;
  overflow-y: scroll;
  padding-bottom:30px;
  min-width:360px;
  transform:scaleX(1.2) scaleY(1.2);
  opacity:0;
  transition: all 400ms ease, transform 600ms ease;
}
p {
  padding:0;
}
input {
  padding-left:5px;
}
h1 {
  margin-bottom:25px;
}
.container {
  height:auto;
  opacity:0;
  transition: all 400ms ease;
}
.jumbotron, .card {
  border: 1px solid #888;
}
.jumbotron {
  padding-top:20px;
  padding-bottom:30px;
  width:50%;
  height:auto;
  float:left;
  background-color: #efefef;
}
.lead {
  margin-bottom:2px;
  color:#999
}
.tiny {
  font-size:10px;
  color:#aaa
}
.card {
  box-sizing: border-box;
  width:50%;
  min-width:360px;
  min-height:60px;
}
.display-number {
  width:100%;
  padding:0;
}
.gray {
  background-color: #fafafa
}
.beep {
  color:#600
}
.boop {
  color:#006
}
.dave {
  color:#060
}
.form-check-label {
  margin-right:30px;
}
.form-group.form-check {
  height:10px;
}
@media screen and (max-width: 992px) {
  .card, .jumbotron {
    width:100%;
  }
}
@media screen and (max-width: 768px) {
  .card, .jumbotron {
    width:100%;
  }
}
@media screen and (max-width: 500px) {
  body {
    padding:0px 0px 30px 0px;
  }
  .container {
    padding:0px;
  }
  .card {
    width:100vw;
  }
  .jumbotron {
    border: none;
  }
  .card {
    border-left:none;
    border-right:none;
  }
}
