body {
  padding-top: 30px;
  background-color: #ccc;
  overflow-x: hidden;  
  padding-bottom: 30px;
  min-width: 300px;
  transform: scaleX(1.2) scaleY(1.2);
  opacity: 0;
  transition: all 400ms ease, transform 600ms ease;
}
p {
  padding: 0;
}
input {
  padding-left: 5px;
}
h1 {
  margin-bottom: 25px;
}
#number-input {
  margin-bottom: 20px;
  transition: all 300ms ease;
}
#loading-area {
  pointer-events: none;
  width: 100%;
  height : 0px;
  transition: all 500ms ease;
}
#progress-card {
  margin-top: 20px;
  margin-left: 0px;
  left: 0;
  width: 100%;
  transform: scaleY(0);
  transform-origin: 0% 0%;
  background-color: #dedede;
  transition: all 500ms ease;
}
#list-card {
  opacity: 0;
  transform: translateX(30%);
  transition: all 500ms ease, opacity 300ms ease;
}
#submit-button {
  width: 200px;
  transition: all 400ms ease;
}
#loading-bar, #loading-bar-bg {
  transition: width 7000ms linear, opacity 300ms ease;
}
#bar-label {
  height: 20px;
  font-size: 0.8em;
  text-align: center;
  transform: translateY(-50%);
  margin: 10px 15px 15px 15px;
  transition: opacity 500ms ease;
}
.no-transition {
  transition: none !important;
}
.container {
  margin-left: auto;
  margin-right: auto;
  height: auto;
  opacity: 0;
  transition: all 400ms ease;
}
.jumbotron, .card {
  border: 1px solid #888;
  transition: all 300ms ease;
  width: 50%;
}
.jumbotron {
  padding-top: 20px;
  padding-bottom: 30px;
  height: auto;
  float: left;
  background-color: #efefef;
  transition: all 300ms ease;
}
.lead {
  margin-bottom: 2px;
  color: #999;
  white-space: nowrap;
}
.tiny {
  font-size:10px;
  color: #999
}
.card {
  background-color: #dedede
}
.display-number {
  width: 100%;
}
.gray {
  background-color: #fafafa
}
.beep {
  color: #600
}
.boop {
  color: #006
}
.dave {
  color: #060
}
.form-check-label {
  margin-right: 30px;
}
@media screen and (max-width: 992px) {
  .jumbotron, .card {
    width: 80%;
    margin-left: 10%;
  }
  #list-card {
    transform: translateY(30%);
  }
}
@media screen and (max-width: 768px) {
  .jumbotron, .card {
    width: 100%;
    margin-left: 0%;
  }
}
@media screen and (max-width: 575px) {
  body {
    padding: 0px 0px 30px 0px;
  }
  h1 strong {
    font-size: 0.8em;
  }
  .container {
    padding:0;
  }
  .jumbotron {
    padding: 30px;
    padding-top: 10px;
    border: 0px;
  }
  #submit-button {
    width: 120px;
  }
  .lead {
    font-size: 0.9em;
  }
  #display {
    font-size: 0.8em;
  }
}